@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
}